# ===============================
# Eclipse workspace metadata
# ===============================
.metadata/

# ===============================
# Eclipse project files
# ===============================
.settings/
bin/
target/
.classpath
.project

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Optional: build folders
# ===============================
out/
build/
